.config.json
.config.json.backup
.flows_cred.json.backup
.flows.json.backup
.sessions.json

.idea/
clusterhat/build/
stacks/secrets/

# Home Assistant Things
secrets.yaml
home-assistant_v2.db
home-assistant.log
.august.conf
.storage/
tts/
.HA_VERSION

# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
clyde/
cat_feeder/
bookshelf/

*.zip
